@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
h1 {
  color: blue; }

h1 {
  font-size: 55px; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 40px; } }

p {
  color: blueviolet; }

.container-fluid {
  font-size: 22px; }

.row {
  display: flex; }

.navbar {
  background-image: url(../ASSETS/IMG/background.jpg); }

.navbar-expand-lg .navbar-collapse {
  display: flex;
  justify-content: flex-end; }

.nav-link {
  font-weight: bold; }

.links__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.items__footer {
  list-style-type: none;
  align-items: flex-end; }

.footer__margin {
  margin: 0%; }

.footer__background {
  background-image: url(../ASSETS/IMG/background.jpg); }

.estilo__container {
  align-items: center;
  justify-content: space-between; }
