<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nuestra historia</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <!--nuestro CSS-->
    <link rel="stylesheet" href="../CSS/estilo2.css">
  </head>  
  <body >
    <!--nav+logo-->
    <div class="container-fluid">
      <div class="row">
        </div>
        <div class="col-lg-12 col-xs-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img src="../ASSETS/IMG/ASARI HORIZONTAL LOGO sin fondo.png" alt="logoSinFondo" width="300px" height="300px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="../VIEWS/productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../VIEWS/contacto.html">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../VIEWS/quienes somos.html" tabindex="-1" aria-disabled="true">Quienes Somos</a>
                    <li class="nav-item">
                      <a class="nav-link" href="../VIEWS/productos.html">Preguntas frecuentes</a>
                    </li>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>  
    <!--cierre NAV-->
<!--inicio contenido-->
<div>
    <strong>
      En Agosto del 2020, en medio de una pandemia mundial que cambiaría las formas y los rumbos de la población,
      dos señoras del Clan Fukushima, decidieron una tarde de mates, por Matheu o San Fernando, 
      iniciarse en el negocio de la venta online de productos congelados, y envasados al vacio.
      Estas dos señoras, llamadas Liliana Fukushima y Maria Gonzales, dieron así, con el nacimiento de Asari, 
      una marca dispuesta a distinguir en el mercado por su excelencia, cuantitativa y cualitativa, y sobre todo por sus precios incombatibles, te invitamos conocernos!
    </strong>
</div>
    </div>
<!--cierre contenido-->
<!--inicio footer-->
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
  <footer>
      <div class="row my-5 justify-content-center py-5">
          <div class="col-11">
              <div class="row ">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                      <img src="../ASSETS/IMG/ASARI HORIZONTAL LOGO sin fondo.png" alt="ASARISINFONDO" width="300px" height="300px">
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                      <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                      <ul class="list-unstyled">
                          <li>Productos</li>
                          <li>Quienes Somos</li>
                          <li>Preguntas Frecuentes</li>
                          <li>Contacto</li>
                      </ul>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                      <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>Encontranos en</b></h6>
                      <p class="mb-1">IG / FB / WSP</p>
                  </div>
              </div>
              <div class="row ">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                      <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Asari Todos los derechos reservados.</small>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
<!--cierre footer-->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>

</html>